{% extends 'base.html.twig' %}

{% block title %}Hello AudytorController!{% endblock %}

{% block body %}
<div class="bg-gray-800 pt-3">
                <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
                    <h3 class="font-bold pl-2">Twoje audyty</h3>
                </div>  
</div>
<div class="container mx-auto my-8 bg-white rounded-lg p-6 shadow-md">
    {% if audits is not empty %}
        <table class="table-auto w-full text-center border">
            <thead>
                <tr>
                    <th class="px-4 py-2 border-b">Domena</th>
                    <th class="px-4 py-2 border-b">Data wykonania audytu</th>
                    <th class="px-4 py-2 border-b">Podgląd</th>
                    <th class="px-4 py-2 border-b">Udostępnij</th>
                </tr>
            </thead>
            <tbody>
                {% for audit in audits %}
                    <tr>
                        <td class="border px-4 py-2">{{ audit.domain }}</td>
                        <td class="border px-4 py-2">{{ audit.data.data.auditDateTime }}</td>
                        <td class="border px-4 py-2"><a href="{{ path('app_history_audit', {'domain': audit.domain, 'uid': audit.uid}) }}"><i class="fas fa-search"></i></a></td>
                        <td class="border px-4 py-2">
                            <button class="copy-button" data-text="{{ absolute_url(path('app_history_audit', {'domain': audit.domain, 'uid': audit.uid})) }}"><i class="far fa-copy"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Brak dostępnych audytów.</p>
    {% endif %}
    <div id="copyMessage" class="hidden bg-green-500 text-white px-4 py-2 mt-4 rounded absolute top-0 left-1/2 transform -translate-x-1/2">
        Adres skopiowano do schowka!
    </div>

<script>
        document.addEventListener('DOMContentLoaded', function () {
            var copyButtons = document.querySelectorAll('.copy-button');

            copyButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var textToCopy = this.getAttribute('data-text');
                    var tempInput = document.createElement('input');
                    tempInput.value = textToCopy;
                    document.body.appendChild(tempInput);
                    tempInput.select();
                    document.execCommand('copy');
                    document.body.removeChild(tempInput);

                    var copyMessage = document.getElementById('copyMessage');
                    copyMessage.classList.remove('hidden');

                    setTimeout(function () {
                        copyMessage.classList.add('hidden');
                    }, 2000);
                });
            });
        });
    </script>
</div>
{% endblock %}
